TOPIC: String Based Assignment Problem

In [ ]:
1. Write a program to reverse a string.

In [3]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  naman

The string provided is  naman

In [4]:
rev=string[::-1]
print("The string reversed is ",rev)

The string reversed is  naman

In [ ]:
2. Check if a string is a palindrome.

In [5]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  hello_world

The string provided is  hello_world

In [6]:
rev=string[::-1]
if rev == string:
    print("The string is palindrome")
else:
    print("The string is not palindrome")

The string is not palindrome

In [ ]:
3. Convert a string to uppercase.

In [7]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  hello

The string provided is  hello

In [9]:
string_upper=string.upper()
print("The string in uppercase case is :- ",string_upper)

The string in uppercase case is :-  HELLO

In [ ]:
4. Convert a string to lowercase.

In [10]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  HEllo

The string provided is  HEllo

In [11]:
string_lower=string.lower()
print("The string in uppercase case is :- ",string_lower)

The string in uppercase case is :-  hello

In [ ]:
5. Count the number of vowels in a string.

In [12]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  ayanmukherjee

The string provided is  ayanmukherjee

In [13]:
string = string.lower()

# Counting vowels using a count variable
count_a = 0
count_e = 0
count_i = 0
count_o = 0
count_u = 0
for char in string:
    if char == 'a':
        count_a += 1
    elif char == 'e':
        count_e += 1
    elif char == 'i':
        count_i += 1
    elif char == 'o':
        count_o += 1
    elif char == 'u':
        count_u += 1
print(f"Number of 'a's: ",count_a)
print(f"Number of 'e's: ",count_e)
print(f"Number of 'i's: ",count_i)
print(f"Number of 'o's: ",count_o)
print(f"Number of 'u's: ",count_u)

Number of 'a's:  2
Number of 'e's:  3
Number of 'i's:  0
Number of 'o's:  0
Number of 'u's:  1

In [ ]:
6. Count the number of consonants in a string.

In [14]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  helloworld

The string provided is  helloworld

In [18]:
con=0
for i in range(len(string)):
    if string[i] not in 'aeiouAEIOU':
        con += 1

print("Number of consonants are:", con)

Number of consonants are: 7

In [ ]:
7. Remove all whitespaces from a string.

In [20]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  What a beautiful day

The string provided is  What a beautiful day

In [21]:
sp_num=0
for i in range(len(string)):
    if string[i] == ' ':
        sp_num+=1
print("The number of spaces are:- ",sp_num)

The number of spaces are:-  3

In [ ]:
8. Find the length of a string without using the `len()` function.

In [22]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  apple

The string provided is  apple

In [23]:
print("The length of the string is :- ",len(string))

The length of the string is :-  5

In [ ]:
9. Check if a string contains a specific word.

In [25]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  What a beautiful day

The string provided is  What a beautiful day

In [27]:
word="day"
if word in string:
    print("The word is present in the string!!")
else:
    print("The word is not present in the string!!")

The word is present in the string!!

In [ ]:
10. Replace a word in a string with another word.

In [28]:
string=input("Enter a string:- ")
print("The string provided is ",string)

Enter a string:-  what a beautiful day

The string provided is  what a beautiful day

In [30]:
string=string.replace("day" , "morning")
print("The string with replacement is :- ",string)

The string with replacement is :-  what a beautiful morning

In [32]:
11. Count the occurrences of a word in a string.

In [37]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  This is a sample string. This string contains the word sample multiple times. Sample!

The string provided is:-  This is a sample string. This string contains the word sample multiple times. Sample!

In [38]:
string=string.lower()
num=string.count("sample")
print("The number of 'sample' present in the string is:- ",num)

The number of 'sample' present in the string is:-  3

In [ ]:
12. Find the first occurrence of a word in a string.

In [39]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  This is a sample string. This string contains the word sample multiple times. Sample!

The string provided is:-  This is a sample string. This string contains the word sample multiple times. Sample!

In [40]:
string=string.lower()
index=string.find('sample')
print("The first occurence of 'sample' is at index:- ",index)

The first occurence of 'sample' is at index:-  10

In [ ]:
13. Find the last occurrence of a word in a string.

In [41]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  This is a sample string. This string contains the word sample multiple times. Sample!

The string provided is:-  This is a sample string. This string contains the word sample multiple times. Sample!

In [42]:
string=string.lower()
index=string.rfind('sample')
print("The first occurence of 'sample' is at index:- ",index)

The first occurence of 'sample' is at index:-  78

In [ ]:
14. Split a string into a list of words.

In [44]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [48]:
split_string=string.split()
print(split_string)

['what', 'a', 'beautiful', 'day']

In [ ]:
15. Join a list of words into a string.

In [51]:
word_list = ['what','a','beautiful','day']
res= ' '.join(word_list)
print("The new string is :- ",res)

The new string is :-  what a beautiful day

In [ ]:
16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [1]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [2]:
rep_str=string.replace(' ','_')
print("The string after replacement is :- ",rep_str)

The string after replacement is :-  what_a_beautiful_day

In [ ]:
17. Check if a string starts with a specific word or phrase.

In [3]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [5]:
start_with=string.startswith("what")
if start_with:
    print("The string starts with 'what' ")
else: 
    print("The string doesnt starts with 'what'")

The string starts with 'what'

In [ ]:
18. Check if a string ends with a specific word or phrase.

In [6]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [7]:
start_with=string.endswith("what")
if start_with:
    print("The string ends with 'what' ")
else: 
    print("The string doesnt end with 'what'")

The string doesnt end with 'what'

In [ ]:
19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [8]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [10]:
string=string.title()
print("The required string is :- ",string)

The required string is :-  What A Beautiful Day

In [ ]:
20. Find the longest word in a string.

In [11]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful string

The string provided is:-  what a beautiful string

In [14]:
strs=string.split()
max_len=0
max_str=""
for i in strs:
    if len(i) > max_len:
        max_len = len(i)
        max_str = i
print("Longest string is :- ",max_str)

Longest string is :-  beautiful

In [ ]:
21. Find the shortest word in a string.

In [17]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [19]:
strs=string.split()
min_len=float('inf')
min_str=""
for i in strs:
    if len(i) < min_len:
        min_len = len(i)
        min_str = i
print("Shortest string is :- ",min_str)

Shortest string is :-  a

In [ ]:
22. Reverse the order of words in a string.

In [20]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  what a beautiful day

The string provided is:-  what a beautiful day

In [21]:
string=string.split()
rev_str= ' '.join(reversed(string))
print("The string reversed is :- ",rev_str)

The string reversed is :-  day beautiful a what

In [ ]:
23. Check if a string is alphanumeric.

In [28]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  check123

The string provided is:-  check123

In [29]:
res=string.isalnum()
if res:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

The string is alphanumeric

In [ ]:
24. Extract all digits from a string.

In [30]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  hello123

The string provided is:-  hello123

In [33]:
digits=""
for i in string:
    if i.isdigit():
        digits+=i
print("Number of digits are :- ",digits)

Number of digits are :-  123

In [ ]:
25. Extract all alphabets from a string

In [40]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  hello123

The string provided is:-  hello123

In [41]:
str=""
for i in string:
    if i.isalpha():
        str+=i
print("Number of alphabets are :- ",str)

Number of alphabets are :-  hello

In [ ]:
26. Count the number of uppercase letters in a string

In [42]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  helloWorld

The string provided is:-  helloWorld

In [43]:
digits=0
for word in string:
    if word.isupper():
        digits+=1
print("The number of uppercase letters are :- ",digits)

The number of uppercase letters are :-  1

In [ ]:
27. Count the number of lowercase letters in a string.

In [44]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  Helloworld

The string provided is:-  Helloworld

In [45]:
digits=0
for word in string:
    if word.islower():
        digits+=1
print("The number of lowercase letters are :- ",digits)

The number of lowercase letters are :-  9

In [ ]:
28. Swap the case of each character in a string.

In [46]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  HelloWorld

The string provided is:-  HelloWorld

In [49]:
string = string.swapcase()
print("String after changing :- ",string)

String after changing :-  hELLOwORLD

In [ ]:
29. Remove a specific word from a string.

In [82]:
input_string = "This is an example mst sentence."
split_string = input_string.split()
if "mst" in split_string:
    split_string.remove("mst")
    new_string = ' '.join(split_string)
    print("String changed is:", new_string)
else:
    print("'mst' not found in the string.")

String changed is: This is an example sentence.

In [ ]:
30. Check if a string is a valid email address.

In [1]:
import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "ayan02mukherjee22@email.com"
email2 = "1234@gmail.com"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
True

In [ ]:
31. Extract the username from an email address string.

In [2]:
email="ayan02mukherjee@gmail.com"
string=email.split("@")[0]
print(string)

ayan02mukherjee

In [ ]:
32. Extract the domain name from an email address string.

In [7]:
email="ayan@gmail.com"
string=email.split("@")[1]
print(string)

gmail.com

In [ ]:
33. Replace multiple spaces in a string with a single space.

In [10]:
string="    the     world  is beautiful"
res=' '.join(string.split())

In [11]:
print(res)

the world is beautiful

In [ ]:
34. Check if a string is a valid URL.

In [13]:
email="ayan2gmail.com"
if '.com' and '@' in email:
    print("The string is a valid URL")
else:
    print("The string is not a URL")

The string is not a URL

In [ ]:
35. Extract the protocol (http or https) from a URL string.

In [16]:
url="https://github.com/"
string=url.split(':')[0]
print(string)

https

In [ ]:
36. Find the frequency of each character in a string.

In [17]:
string=input("Enter a string:- ")
print("The string provided is:- ",string)

Enter a string:-  ayanmukherjee

The string provided is:-  ayanmukherjee

In [25]:
char_freq = {}
for char in string:
    if char in char_freq:
        char_freq[char] += 1
    else:
        char_freq[char] = 1
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'a', Frequency: 2
Character: 'y', Frequency: 1
Character: 'n', Frequency: 1
Character: 'm', Frequency: 1
Character: 'u', Frequency: 1
Character: 'k', Frequency: 1
Character: 'h', Frequency: 1
Character: 'e', Frequency: 3
Character: 'r', Frequency: 1
Character: 'j', Frequency: 1

In [ ]:
37. Remove all punctuation from a string.

In [30]:
import string

input_string = "Hello, World! This is an example string."

translator = str.maketrans('', '', string.punctuation)
cleaned_string = input_string.translate(translator)

print(cleaned_string)

Hello World This is an example string

In [ ]:
38. Check if a string contains only digits.

In [32]:
string="12345"
if string.isdigit():
    print("It has only digits")
else:
    print("It doesnt have only digits")

It has only digits

In [ ]:
39. Check if a string contains only alphabets.

In [34]:
string="12345"
if string.isalpha():
    print("It has only alphabets")
else:
    print("It doesnt have only alphabets")

It doesnt have only alphabets

In [ ]:
40. Convert a string to a list of characters.

In [35]:
string = "Today is a beautiful day"
print(list(string))

['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'a', ' ', 'b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 'd', 'a', 'y']

In [ ]:
41. Check if two strings are anagrams.

In [38]:
str1="listen"
str2="silent"
if sorted(str1) == sorted(str2):
    print("The two strings are anagrams")
else:
    print("The two strings are not anagrams")

The two strings are anagrams

In [ ]:
42. Encode a string using a Caesar cipher.

In [39]:
string="helloworld"
s=3

In [41]:
result = ""
for i in range(len(string)):
        char = string[i]
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
print(result)

khoorzruog

In [ ]:
43. Decode a Caesar cipher encoded string.

In [46]:
string="khoorzruog"
s=-3

In [47]:
ans = ""
for i in range(len(string)):
        ch = string[i]
        if ch==" ":
            ans+=" "
        elif (ch.isupper()):
            ans += chr((ord(ch) + s-65) % 26 + 65)
        else:
            ans += chr((ord(ch) + s-97) % 26 + 97)
print(ans)

helloworld

In [ ]:
44. Find the most frequent word in a string.

In [58]:
import re
from collections import Counter
def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word
input_str = "Hello world, hello there! How's the world?"
most_common = most_frequent_word(input_str)
print("Most frequent word:", most_common)

Most frequent word: hello

In [ ]:
45. Find all unique words in a string.

In [5]:
string="day , what a beautiful day"
l_string=list(string)
sp_str=string.split()
print(set(sp_str))

{',', 'a', 'beautiful', 'day', 'what'}

In [ ]:
46. Count the number of syllables in a string.

In [11]:
word="banana"

In [12]:
syllables = 0
for i in range(len(word)):
    if word[i] in "aeiou":
      syllables += 1
    if word[i] == "y" and i != len(word) - 1 and word[i + 1] in "aeiou":
      syllables += 1
print("Number of syllables:- ",syllables)

Number of syllables:-  3

In [ ]:
47. Check if a string contains any special characters.

In [22]:
string = "Ayan@good"
flag = 0  
for char in string:
    if char in '!@#$%^&*':
        flag = 1
        break 
if flag == 1:
    print("The string has special characters!!")
else:
    print("The string doesn't have special characters!!")

The string has special characters!!

In [ ]:
48. Remove the nth word from a string.

In [26]:
input_string="ayan is a good guy"
n=2
words = input_string.split()
if 0 <= n < len(words):
        del words[n]
        result_string = ' '.join(words)
        print(result_string)
else:
        print("Invalid index, word not removed.")

ayan is good guy

In [ ]:
49. Insert a word at the nth position in a string.

In [30]:
input_string = "ayan is good guy"
n = 2
new_word = "awesome" 
words = input_string.split()
if 0 <= n <= len(words):
    words.insert(n, new_word) 
    result_string = ' '.join(words)
    print(result_string)
else:
    print("Invalid position, word not added.")

ayan is awesome good guy

In [ ]:
50. Convert a CSV string to a list of lists.

In [33]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = csv_data.split('\n')
result = []
for line in lines:
        fields = line.split(',')
        result.append(fields)
print(result)

[['Name', ' Age', ' Country'], ['John', ' 25', ' USA'], ['Alice', ' 30', ' Canada'], ['Bob', ' 22', ' UK']]

List Based Practice Problem :

In [ ]:
1. Create a list with integers from 1 to 10.

In [5]:
res=[]
for i in range(1,11):
    res.append(i)
print(res)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
2. Find the length of a list without using the len() function.

In [3]:
c=0
for i in res:
    c+=1
print("The length of the list is :- ",c)

The length of the list is :-  10

In [ ]:
3. Append an element to the end of a list.

In [6]:
res.append(11)
print("The list after adding element:- ",res)

The list after adding element:-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
4. Insert an element at a specific index in a list.

In [14]:
index=3
element=30
res.insert(index,element)
print("The list after adding element:- ",res)

The list after adding element:-  [1, 2, 3, 30, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
5. Remove an element from a list by its value.

In [15]:
res.remove(30)
print("Updated list:- ",res)

Updated list:-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
6. Remove an element from a list by its index.

In [16]:
res.pop(10)
print("updated list:- ",res)

updated list:-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
7. Check if an element exists in a list.

In [26]:
value=5
if value in res:
    print("The element exists")
else:
    print("The element doesnt exists")

The element exists

In [ ]:
8. Find the index of the first occurrence of an element in a list.

In [36]:
val=7
flag=-1
for i, item in enumerate(res):
    if item == val:
        flag = i
        break

if flag != -1:
    print("The index of the first occurrence is:", flag)
else:
    print("The value does not exist in the list.")

The index of the first occurrence is: 6

In [ ]:
9. Count the occurrences of an element in a list.

In [37]:
my_list = [10, 20, 30, 40, 50, 30, 30]
val=30
c=0
for i in my_list:
    if  i == val:
        c+=1
print("No. of ",val," are :- ",c)

No. of  30  are :-  3

In [ ]:
10. Reverse the order of elements in a list.

In [41]:
my_list = [10, 20, 30, 40, 50, 30, 30]
my_list.reverse()
print("The list reversed is :- ",my_list)

The list reversed is :-  [30, 30, 50, 40, 30, 20, 10]

In [ ]:
11. Sort a list in ascending order.

In [40]:
my_list=[64,8,9,1,3,5]
print("Sorted list is :- ",sorted(my_list))

Sorted list is :-  [1, 3, 5, 8, 9, 64]

In [ ]:
12. Sort a list in descending order.

In [43]:
my_list.sort(reverse=True)
print("List in descending order is:- ",my_list)

List in descending order is:-  [50, 40, 30, 30, 30, 20, 10]

In [ ]:
13. Create a list of even numbers from 1 to 20.

In [46]:
res=[]
for i in range(1,21):
    if i % 2 ==0:
        res.append(i)
print("The list of even numbers is:- ",res)

The list of even numbers is:-  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
14. Create a list of odd numbers from 1 to 20.

In [45]:
tot=[]
for i in range(1,21):
    if i % 2 !=0:
        tot.append(i)
print("The list of odd numbers is:- ",tot)

The list of odd numbers is:-  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
15. Find the sum of all elements in a list.

In [47]:
lst=[3,6,2,5,1]
add=0
for i in lst:
    add = add + i
print("The sum of elements are :- ",add)

The sum of elements are :-  17

In [ ]:
16. Find the maximum value in a list.

In [50]:
lst=[3,6,2,5,1]
max_ele=max(lst)
print("the max element is :- ",max_ele)

the max element is :-  6

In [ ]:
17. Find the minimum value in a list.

In [49]:
lst=[3,6,2,5,1]
min_ele=min(lst)
print("the max element is :- ",min_ele)

the max element is :-  1

In [ ]:
18. Create a list of squares of numbers from 1 to 10.

In [51]:
sol=[]
for i in range(1,11):
    sq=i**2
    sol.append(sq)
print("The list is :- ",sol)

The list is :-  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
19. Create a list of random numbers.

In [52]:
import random
r_nums=[]
for i in range(1,11):
    ran=random.randint(1,100)
    r_nums.append(ran)
print("The list with random numbers:- ",r_nums)

The list with random numbers:-  [65, 91, 28, 92, 56, 22, 10, 11, 83, 5]

In [ ]:
20. Remove duplicates from a list.

In [67]:
my_list = [1, 2, 1, 2, 5, 6, 7, 3, 4]
lt = set(my_list)
print("The list without any duplicate elements:", lt)

The list without any duplicate elements: {1, 2, 3, 4, 5, 6, 7}

In [ ]:
21. Find the common elements between two lists.

In [71]:
l1=[1,3,5,7,9,10,28]
l2=[2,4,6,8,10,23]
common_elements = []
for i in range(len(l1)):
    for j in range(len(l2)):
        if l1[i] == l2[j]:
            common_elements.append(l1[i])
if common_elements:
    print("The common elements are:", common_elements)
else:
    print("There are no common elements.")

The common elements are: [10]

In [ ]:
22. Find the difference between two lists.

In [83]:
l1 = [1, 3, 5, 7, 9, 10, 28]
l2 = [2, 4, 6, 8, 10, 23]
s1 = set(l1)
s2 = set(l2)
diff = s1-s2
print("The difference between two sets is:", diff)

The difference between two sets is: {1, 3, 5, 7, 9, 28}

In [ ]:
23. Merge two lists.

In [75]:
l1=[1,3,5]
l2=[2,4]
merg=l1+l2
print("Merged list is :- ",merg)

Merged list is :-  [1, 3, 5, 2, 4]

In [ ]:
24. Multiply all elements in a list by 2.

In [74]:
lst=[6,4,2]
sol=[]
for i in range(len(lst)):
    sol.append(lst[i]*2)
print(sol)

[12, 8, 4]

In [ ]:
25. Filter out all even numbers from a list.

In [1]:
lst=[9,5,8,6,5,2,7]
sol=[]
for i in lst:
    if i % 2 != 0:
        sol.append(i)
print(sol)

[9, 5, 5, 7]

In [ ]:
26. Convert a list of strings to a list of integers.

In [1]:
l=["1","2","3","4","5"]
ml=[]
for i in l:
    ml.append(int(i))
print(ml)

[1, 2, 3, 4, 5]

In [ ]:
27. Convert a list of integers to a list of strings.

In [2]:
l=[1,2,3,4,5]
ml=[]
for i in l:
    ml.append(str(i))
print(ml)

['1', '2', '3', '4', '5']

In [ ]:
28. Flatten a nested list.

In [5]:
l = [1, 2, 3, [4, 5, 6]]
res = []

for i in l:
    if isinstance(i, list):     #isinstance checks if instance of i is list or not
        for j in i:
            res.append(j)
    else:
        res.append(i)

print(res)

[1, 2, 3, 4, 5, 6]

In [ ]:
29. Create a list of the first 10 Fibonacci numbers.

In [7]:
f_list=[0,1]
for i in range(2,11):
    n_list=f_list[i-1] + f_list[i-2]
    f_list.append(n_list)
print(f_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
30. Check if a list is sorted.

In [9]:
l=[2,4,1,5,3,6]
s_l=l.sort()
if l==s_l:
    print("The list is sorted")
else:
    print("The list isnt sorted")

The list isnt sorted

In [ ]:
31. Rotate a list to the left by n positions.

In [10]:
lst=[4,5,6,7,8,9,10]
n=4
r_lst=lst[n:] + lst[:n]
print(r_lst)

[8, 9, 10, 4, 5, 6, 7]

In [ ]:
32. Rotate a list to the right by n positions.

In [11]:
lst=[4,5,6,7,8,9,10]
n=3
r_list=lst[:n]+lst[n:]
print(r_lst)

[8, 9, 10, 4, 5, 6, 7]

In [ ]:
33. Create a list of prime numbers up to 50.

In [13]:
prime_list = []
for num in range(2, 51):
    is_prime = True
    for divisor in range(2, int(num ** 0.5) + 1):
        if num % divisor == 0:
            is_prime = False
            break
    if is_prime:
        prime_list.append(num)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
34. Split a list into chunks of size n.

In [14]:
lst=[3,4,5,6,7,1,2]
n=3
fh=lst[:n]
sh=lst[n:]
print(fh,sh)

[3, 4, 5] [6, 7, 1, 2]

In [ ]:
35. Find the second largest number in a list.

In [15]:
lst=[8,9,1,4,6,7]
lst.sort()
print(lst[-2])

8

In [ ]:
36. Replace every element in a list with its square.

In [19]:
lst=[1,2,3,4,5]
for i in range(len(lst)):
    lst[i] = lst[i] ** 2
print(lst)

[1, 4, 9, 16, 25]

In [ ]:
37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [25]:
lst=[4,5,6,7,8,9]
dt={}
for index, i in enumerate(lst):
    dt.update({index:i})
print(dt)

{0: 4, 1: 5, 2: 6, 3: 7, 4: 8, 5: 9}

In [ ]:
38. Shuffle the elements of a list randomly.

In [26]:
import random
lst=[2,3,4,5,6,7,8]
random.shuffle(lst)
print(lst)

[5, 8, 4, 6, 3, 2, 7]

In [ ]:
39. Create a list of the first 10 factorial numbers.

In [27]:
res=[1]
s=1
for i in range(1,11):
    s=s * i
    res.append(s)
print(res)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
40. Check if two lists have at least one element in common.

In [32]:
l1 = [1, 2, 3, 4, 5]
l2 = [5, 6, 7, 8, 9]
found_common = False
for i in l1:
    if i in l2:
        found_common = True
        break
if found_common:
    print(True)

True

In [ ]:
41. Remove all elements from a list.

In [1]:
lst=[1,2,3,4,5]
lst.clear()
print(lst)

[]

In [ ]:
42. Replace negative numbers in a list with 0.

In [2]:
lst=[-1,-2,4,5,6,-3]
for i in range(len(lst)):
    if lst[i] <= 0:
       lst [i] =0
print(lst)

[0, 0, 4, 5, 6, 0]

In [ ]:
43. Convert a string into a list of words.

In [4]:
str="hello it is a beautiful day"
lst=str.split()
print(lst)

['hello', 'it', 'is', 'a', 'beautiful', 'day']

In [ ]:
44. Convert a list of words into a string.

In [5]:
lst=['hello', 'it', 'is', 'a', 'beautiful', 'day']
str=' '.join(lst)
print(str)

hello it is a beautiful day

In [ ]:
46. Find the longest string in a list of strings.

In [8]:
lst=['hello', 'it', 'is', 'a', 'beautiful', 'day']
longest_string = ""
for s in lst:
    if len(s) > len(longest_string):
        longest_string = s
print(longest_string)

beautiful

In [ ]:
47. Find the shortest string in a list of strings.

In [10]:
lst=['hello', 'it', 'is', 'a', 'beautiful', 'day']
shortest_string = lst[0]
for s in lst:
    if len(s) < len(shortest_string):
        shortest_string = s
print(shortest_string)

a

In [ ]:
48. Create a list of the first n triangular numbers.

In [11]:
n=5
for i in range(1, n + 1):
         print( i*(i+1)//2,end=' ')

1 3 6 10 15

In [ ]:
49. Check if a list contains another list as a subsequence.

In [18]:
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 4, 5]
if all(item in main_list for item in sub_list):
    print("sub_list is a subsequence of main_list.")
else:
    print("sub_list is not a subsequence of main_list.")

sub_list is a subsequence of main_list.

In [ ]:
50. Swap two elements in a list by their indices.

In [17]:
lst=[5,6,8,9,2]
f=0
s=3
lst[f],lst[s]=lst[s],lst[f]
print(lst)

[9, 6, 8, 5, 2]

Tuple Based Practice Problem :

In [ ]:
1. Create a tuple with integers from 1 to 5.

In [1]:
tup=(1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [ ]:
2. Access the third element of a tuple.

In [2]:
tup=(10,20,30,40,50)
print(tup[2])

30

In [ ]:
3. Find the length of a tuple without using the len() function.

In [3]:
tup=(1,2,3,4,5)
c=0
for i in tup:
    c+=1
print(c)

5

In [ ]:
4. Count the occurrences of an element in a tuple.

In [4]:
tup=(1,2,3,2,1,2)
ele=2
c=0
for i in tup:
    if i == ele:
        c+=1
print(c)

3

In [ ]:
5. Find the index of the first occurrence of an element in a tuple.

In [7]:
tup=(1,2,3,1,2,3,1)
ele=3
for i in range(len(tup)):
    if tup[i] == ele:
        print(i)
        break

2

In [ ]:
6. Check if an element exists in a tuple.

In [12]:
tup=(1,2,3,2,3,4,6,7)
ele=5
flag=False
for i in tup:
    if i == ele:
        flag=True
print(flag)

False

In [ ]:
7. Convert a tuple to a list.

In [13]:
tup=(2,3,4,5,6)
lt=list(tup)
print(lt)

[2, 3, 4, 5, 6]

In [ ]:
8. Convert a list to a tuple.

In [14]:
lt=[2,3,4,5,6]
tup=tuple(lt)
print(tup)

(2, 3, 4, 5, 6)

In [ ]:
9. Unpack the elements of a tuple into variables.

In [15]:
tup=(1,2,3)
v1,v2,v3=tup
print(v1,v2,v3)

1 2 3

In [ ]:
10. Create a tuple of even numbers from 1 to 10.

In [19]:
tup=[]
for i in range(1,11):
    if i % 2 == 0:
        tup.append(i)
print(tuple(tup))

(2, 4, 6, 8, 10)

In [ ]:
12. Concatenate two tuples.

In [20]:
t1=(1,2,3)
t2=(4,5,6)
tup=t1+t2
print(tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
13. Repeat a tuple three times.

In [21]:
tup=(1,2,3)
print(tup * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
14. Check if a tuple is empty.

In [28]:
tup=(1,2,3)
if len(tup) == 0:
    print("The tuple is empty")
else:
    print("the tuple is not empty")

the tuple is not empty

In [ ]:
15. Create a nested tuple.

In [29]:
tup=(1,2,3,(4,5,6),7,("A","B"))
print(tup)

(1, 2, 3, (4, 5, 6), 7, ('A', 'B'))

In [ ]:
16. Access the first element of a nested tuple.

In [30]:
tup=(1,2,3,(4,5,6),7,("A","B"))
print(tup[0])

1

In [ ]:
17. Create a tuple with a single element.

In [32]:
tup=(1,)
print(tup)

(1,)

In [ ]:
18. Compare two tuples.

In [33]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2) 
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)   
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [ ]:
19. Delete a tuple.

In [34]:
tup=(1,2,3)
del tup
print(tup)

NameError: name 'tup' is not defined

In [ ]:
20. Slice a tuple.

In [35]:
tup=(1,2,3,4,5,6,7,8,9,10)
sl_tup=tup[2:6]
print(sl_tup)

(3, 4, 5, 6)

In [ ]:
21. Find the maximum value in a tuple.

In [36]:
tup=(3,4,5,61,2,7,8,65)
print(max(tup))

65

In [ ]:
22. Find the minimum value in a tuple.

In [37]:
tup=(3,4,5,61,2,7,8,65)
print(min(tup))

2

In [ ]:
23. Convert a string to a tuple of characters.

In [38]:
st="ayan"
st=tuple(st)
print(st)

('a', 'y', 'a', 'n')

In [ ]:
24. Convert a tuple of characters to a string.

In [40]:
tup=('a', 'y', 'a', 'n')
st="".join(tup)
print(st)

ayan

In [ ]:
25. Create a tuple from multiple data types.

In [41]:
tup=(1,2,3,(4,5),("A","B","C"),3.14,True)
print(tup)

(1, 2, 3, (4, 5), ('A', 'B', 'C'), 3.14, True)

In [ ]:
26. Check if two tuples are identical.

In [1]:
tup1=(1,2,3,4,5)
tup2=(5,4,3,2,1)
if tup1==tup2:
    print("Identical")
else:
    print("Not Identical")

Not Identical

In [ ]:
27. Sort the elements of a tuple.

In [3]:
tup1=(4,5,6,3,2,1)
t=tuple(sorted(tup1))
print(t)

(1, 2, 3, 4, 5, 6)

In [ ]:
28. Convert a tuple of integers to a tuple of strings.

In [8]:
tup1=(4,5,3,2,1)
st=[]
for i in tup1:
    st.append(str(i))
print(tuple(st))

('4', '5', '3', '2', '1')

In [ ]:
29. Convert a tuple of strings to a tuple of integers.

In [13]:
st=('4', '5', '3', '2', '1')
tup1=[]
for i in st:
    tup1.append(int(i))
print(tuple(tup1))

(4, 5, 3, 2, 1)

In [ ]:
30. Merge two tuples.

In [14]:
tup1=(1,2,3)
tup2=(4,5,6)
tup3=tup1+tup2
print(tup3)

(1, 2, 3, 4, 5, 6)

In [ ]:
31. Flatten a nested tuple.

In [19]:
tup1 = (1, 2, (3, 4, 5), (6, 7, 8))
res = ()
for items in tup1:
    if isinstance(items, tuple):
        for item in items:
            res += (item,)
    else:
        res += (items,)
print(res)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
32. Create a tuple of the first 5 prime numbers.

In [20]:
n = 5 
prime_numbers = ()
candidate = 2 
while len(prime_numbers) < n:
    is_prime = True
    for divisor in range(2, int(candidate ** 0.5) + 1):
        if candidate % divisor == 0:
            is_prime = False
            break
    if is_prime:
        prime_numbers += (candidate,)
    candidate += 1
print(prime_numbers)

(2, 3, 5, 7, 11)

In [ ]:
3. Check if a tuple is a palindrome.

In [21]:
tup1=(1,2,3,2,1)
if tup1 == tup1[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [ ]:
34. Create a tuple of squares of numbers from 1 to 5.

In [23]:
tup=(1,2,3,4,5)
st=[]
for i in tup:
    st.append(i ** 2)
print(tuple(st))

(1, 4, 9, 16, 25)

In [ ]:
35. Filter out all even numbers from a tuple.

In [24]:
tup=(2,3,41,6,5,7,12,9)
sol=[]
for i in tup:
    if i % 2 ==0:
      sol.append(i)
print(sol)

[2, 6, 12]

In [ ]:
36. Multiply all elements in a tuple by 2.

In [25]:
tup=(2,4,6,1,2)
sol=[]
for i in tup:
    sol.append(i*2)
print(sol)

[4, 8, 12, 2, 4]

In [ ]:
37. Create a tuple of random numbers.

In [29]:
import random
res=[]
for i in range(5):
    t=random.randint(1,10)
    res.append(t)
print(tuple(res))

(6, 1, 1, 8, 2)

In [ ]:
38. Check if a tuple is sorted.

In [32]:
tup1=(6, 1, 1, 8, 2)
tup1=sorted(tup1)
print(tup1)

[1, 1, 2, 6, 8]

In [ ]:
39. Rotate a tuple to the left by n positions.

In [34]:
tup1=(1,2,3,4,5,6,7,8,9,10)
n=4
tp=tup1[n:] + tup1[:n]
print(tp)

(5, 6, 7, 8, 9, 10, 1, 2, 3, 4)

In [ ]:
40. Rotate a tuple to the right by n positions.

In [36]:
tup1=(1,2,3,4,5,6,7,8,9,10)
n=4
tp=tup1[-n:] + tup1[:-n]
print(tp)

(7, 8, 9, 10, 1, 2, 3, 4, 5, 6)

In [ ]:
41. Create a tuple of the first 5 Fibonacci numbers.

In [39]:
tup=[0,1]
while len(tup) < 5:
    add=tup[-1] + tup[-2]
    tup.append(add)
print(tup)

[0, 1, 1, 2, 3]

In [ ]:
42. Create a tuple from user input.

In [40]:
num=5
tup=tuple(input("Enter elements: - "))
print(tup)

Enter elements: -  1,2,3,4,5,3.14,"A",True

('1', ',', '2', ',', '3', ',', '4', ',', '5', ',', '3', '.', '1', '4', ',', '"', 'A', '"', ',', 'T', 'r', 'u', 'e')

In [ ]:
43. Swap two elements in a tuple.

In [44]:
tup1=(1,2,3,4,5)
i1,i2=1,3
tup=list(tup1)
tup[i1],tup[i2] = tup[i2],tup[i1]
print(tuple(tup))

(1, 4, 3, 2, 5)

In [ ]:
44. Reverse the elements of a tuple.

In [45]:
tup1=(1,2,3,4,5)
tup1=tup1[::-1]
print(tup1)

(5, 4, 3, 2, 1)

In [ ]:
45. Create a tuple of the first n powers of 2.

In [49]:
n=5
ans=[]
for i in range(1,n+1):
    ans.append(2 ** i)
print(tuple(ans))

(2, 4, 8, 16, 32)

In [ ]:
46. Find the longest string in a tuple of strings.

In [53]:
tup = ("apple", "banana", "grape", "kiwi", "watermelon")
max_str=max(tup,key=len)
print(max_str)

watermelon

In [ ]:
47. Find the shortest string in a tuple of strings.

In [52]:
tup = ("apple", "banana", "grape", "kiwi", "watermelon")
min_str=min(tup,key=len)
print(min_str)

kiwi

In [ ]:
48. Create a tuple of the first n triangular numbers.

In [54]:
n=5
ans=()
for i in range(1,n+1):
    num=(i *(i+1)) // 2
    ans+=(num,)
print(ans)

(1, 3, 6, 10, 15)

In [ ]:
49. Check if a tuple contains another tuple as a subsequence.

In [56]:
tup1 = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tup2 = (4, 5, 6)
sl = len(tup2)
found = False
for i in range(len(tup1) - sl + 1):
    if tup1[i:i+sl] == tup2:
        print("It is a subsequence")
        found = True
        break
if not found:
    print("It is not a subsequence")

It is a subsequence

In [ ]:
50. Create a tuple of alternating 1s and 0s of length n.

In [57]:
n=10
res=[]
for i in range(n):
    num = i % 2
    res.append(num)
print(tuple(res))

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)